<%- include('../../Partials/header.ejs') %>
<%- include('../../Partials/navbar.ejs') %>
<div class="container">
    <hr>
    <h2>Usuarios:</h2>
    <a class="btn btn-success" href="/admin/users/create"> Criar Novo Usuário </a> 
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID: </th>
                <th>Email: </th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(usuarios => { %>
                <tr>
                    <th><%= usuarios.id %></th>
                    <th><%= usuarios.email %></th>
                </tr>
            <% }) %> 
        </tbody>
    </table>
</div>
<%- include('../../Partials/footer.ejs') %>