<%- include('../../Partials/header.ejs') %>
<%- include('../../Partials/navbar.ejs') %>
<div class="container">
    <hr>
    <h2>Artigos:</h2>
    <a class="btn btn-success" href="/admin/articles/new"> Criar Novo Artigo </a> 
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID: </th>
                <th>Título: </th>
                <th>Slug: </th>
                <th>Category: </th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% articles.forEach(articles => { %>
                <tr>
                    <td> <%= articles.id %> </td>
                    <td> <%= articles.title %> </td>
                    <td> <%= articles.slug %> </td>
                    <td> <%= articles.category.title %> </td>
                    <td>
                        <form method="POST" action="/articles/delete" style="display: inline;" onsubmit="confirmarDelacao(event, this)">
                            <input type="hidden" name="id" value="<%= articles.id %>">
                            <button class="btn btn-danger"> Excluir </button>
                        </form>
                        <!-- <form method="POST" action="/articles/edit/<%= articles.id %>" style="display: inline">
                            <input type="hidden" name="id" value="<%articles.id%>">
                            <button class="btn btn-success"> Atualizar </button>
                        </form> -->
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>
<%- include('../../Partials/footer.ejs') %>
<script>
    // Mecanismo de segurança para apagar as Categorias
    function confirmarDelacao (event, form) {
        event.preventDefault();
        const decision = confirm("Você quer deletar esse Artigo?");

        if (decision) {
            form.submit();
        }
    }
</script>