<%- include('../../Partials/header.ejs') %>
<%- include('../../Partials/homenavbar.ejs') %>
<body>
    <div class="container">
        <hr>
        <% result.articles.rows.forEach(articles => { %>
            <div class="card">
                <div class="card-header">
                    <h1><%= articles.title %></h1>
                </div>
                <div class="card-body">
                    <a class="btn btn-success" href="/<%= articles.slug %>"> Ler artigo </a>
                </div>
            </div>
            <br>
        <% }) %>

        <div class="row">
            <div class="col col-12">
                <% if (result.page == 2) { %>
                    <a href="/"> Home </a>
                <% } else { %>
                    <a href="/articles/page/<%=result.page -1 %>"> Prev </a>
                <% } %>
 
                <% if (result.next) { %>
                    <a style="float: right" href="/articles/page/<%=result.page +1 %>">Next</a>
                <% } %> 
            </div>
            <hr>
        </div>
    </div>
</body>
<%- include('../../Partials/footer.ejs') %>